@using System.Globalization
@using MudBlazor

<div class="container mt-4 border rounded">
    <div class="row pt-2 pb-2 mb-1 border">
        <div class="col-lg-3 mb-2 mb-lg-0" hidden="@(currentDisplayState != DisplayState.Dan)">
            <input class="form-control" type="date" value=@startDate.ToString("yyyy-MM-dd")
                   @onchange="@(
                   async (ChangeEventArgs args) =>
                   {
                       startDate = DateOnly.Parse(args.Value.ToString() ?? DateTime.Now.ToString());
                       if (startDate > endDate) startDate = endDate;
                       await UpdateProjectSessionsInfo();
                   })" />
        </div>
        <div class="col-lg-3 mb-2 mb-lg-0" hidden="@(currentDisplayState != DisplayState.Dan)">
            <input class="form-control" type="date" value=@endDate.ToString("yyyy-MM-dd")
            @onchange="@(
            async (ChangeEventArgs args) =>
            {
                endDate = DateOnly.Parse(args.Value.ToString() ?? DateTime.Now.ToString());
                if (endDate < startDate) endDate = startDate;
                await UpdateProjectSessionsInfo();
            })" />
        </div>
        <div class="col-md-6 mb-2 mb-lg-0" hidden="@(currentDisplayState != DisplayState.Tjedan)">
            <input class="form-control" type="week" value=@week @onchange=OnWeekInputChanged />
        </div>
        <div class="col-md-6 mb-2 mb-lg-0" hidden="@(currentDisplayState != DisplayState.Mjesec)">
            <input class="form-control" type="month" value=@month @onchange=OnMonthInputChanged />
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-6">
                    <select class="form-control" @bind=currentDisplayState>
                        @foreach (var state in Enum.GetValues<DisplayState>())
                        {
                            <option value=@state>@state</option> // make this also update the table immediately
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="row g-0 button-switch-row">
                        <div class="col-auto">
                        <button class="button-switch" @onclick=OnTableViewStateClicked>
                            <svg class="icon-switch @tableButtonClass p-2" xmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16">
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z" />
                            </svg>
                        </button>
                        </div>
                        <div class="col-auto">
                        <button class="button-switch" @onclick=OnGraphViewStateClicked>
                            <svg class="icon-switch @graphButtonClass p-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z" />
                            </svg>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <table hidden="@(currentViewState == ViewState.Graf)" class="table table-striped">
            <thead>
                <tr>
                    <th>Naziv projekta</th>
                    <th>Broj sati(prekovremenih)</th>
                    <th>Prosječan broj sati dnevno</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var projectSessionInfo in projectSessionsInfoAggregates)
                {
                    <tr>
                        <td>@projectSessionInfo.ProjectName</td>
                        <td>@($"{projectSessionInfo.HoursWorked}({projectSessionInfo.HoursOvertime})")</td>
                        <td>@projectSessionInfo.AverageHours</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row" hidden="@(currentViewState == ViewState.Tablica)">
            <div class="col-xl-6">
                <MudPaper Class="pa-4 align-center">
                    <MudChart class="align-center" Height="300px" ChartType="ChartType.Pie" InputData=@hoursPerProject @bind-SelectedIndex=@Index InputLabels=@projectLabels />
                </MudPaper>
            </div>
            <div class="col-xl-6">
                <MudPaper Class="pa-4 align-center">
                    <MudChart class="align-center" Height="300px" ChartType="ChartType.StackedBar" ChartSeries="@_series" @bind-SelectedIndex="Index" XAxisLabels="_xAxisLabels" LegendPosition="Position.Bottom"></MudChart>
                </MudPaper>
            </div>
        </div>
    </div>
</div>

<style>

    .button-switch-row
    {
        border-radius: 10px;
    }

    .icon-switch {
        width: 40px;
        height: 40px;
        fill: #1c78ff;
        background-color: white; 
    }

    .icon-switch.active{
        width: 40px;
        height: 40px; 
        fill:white;
        background-color: #1c78ff;
    }

    .col-auto:first-of-type .button-switch:first-of-type .icon-switch
    {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-left: 1px solid;
            border-top: 1px solid;
        border-bottom: 1px solid;
    }

    .col-auto:last-of-type .button-switch:last-of-type .icon-switch {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-right: 1px solid;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }

.mud-charts-yaxis text
{
    font-size: 25px !important;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.mud-charts-xaxis text {
    font-size: 24px !important;
    letter-spacing: 2px;
    font-weight: bold;
}

.svg-tooltip text
{
    font-size: 16px !important;
}
</style>

@inject IServiceScopeFactory serviceScopeFactory;
@code {

    [Parameter]
    public required string UserId { get; set; }

    private DateOnly startDate;
    private DateOnly endDate;
    private string week;
    private string month;

    private DisplayState currentDisplayState;
    private ViewState currentViewState = ViewState.Tablica;

    enum DisplayState
    {
        Dan,
        Tjedan,
        Mjesec
    }

    enum ViewState
    {
        Tablica,
        Graf
    }

    private string tableButtonClass = "active";
    private string graphButtonClass = "";

    List<ProjectDTO> userProjects = new List<ProjectDTO>();
    List<WorkSessionDTO> sessionsOnProject = new List<WorkSessionDTO>();
    List<ProjectSessionsInfoAggregate> projectSessionsInfoAggregates = new List<ProjectSessionsInfoAggregate>();

    double[] hoursPerProject;
    private int Index = -1;
    string[] projectLabels;

    double[] overtimeHoursPerProject;
    string[] _xAxisLabels = { "" };

    private AxisChartOptions _axisChartOptions = new() { StackedBarWidthRatio = 0.3 };

    private List<ChartSeries> _series = new List<ChartSeries>();


    protected override void OnInitialized()
    {
        endDate = DateOnly.FromDateTime(DateTime.Now);
        startDate = endDate.AddDays(-7);
    }

    protected override async Task OnInitializedAsync()
    {
        await UpdateProjectSessionsInfo();
    }

    private async Task OnWeekInputChanged(ChangeEventArgs args)
    {
        if (args.Value != null && args.Value.ToString() != null)
        {
            week = args.Value.ToString(); // yyyy-Www
            string[] weekStringComponents = week.Split("-W");
            int yearNumber = int.Parse(weekStringComponents[0]);
            int weekNumber = int.Parse(weekStringComponents[1]);
            DateTime date = ISOWeek.ToDateTime(yearNumber, weekNumber, DayOfWeek.Monday);
            startDate = DateOnly.FromDateTime(date);
            endDate = DateOnly.FromDateTime(date.AddDays(6));
        }
        await UpdateProjectSessionsInfo();
    }

    private async Task OnMonthInputChanged(ChangeEventArgs args)
    {
        if (args.Value != null && args.Value.ToString() != null)
        {
            month = args.Value.ToString(); // yyyy-mm
            string[] monthStringComponents = month.Split("-");
            int yearNumber = int.Parse(monthStringComponents[0]);
            int monthNumber = int.Parse(monthStringComponents[1]);
            DateTime firstDay = new DateTime(yearNumber, monthNumber, 1);
            DateTime lastDay = firstDay.AddMonths(1).AddDays(-1);
            startDate = DateOnly.FromDateTime(firstDay);
            endDate = DateOnly.FromDateTime(lastDay);
        }
        await UpdateProjectSessionsInfo();
    }

    private async Task UpdateProjectSessionsInfo()
    {
        projectSessionsInfoAggregates.Clear();
        hoursPerProject = null;
        projectLabels = null;
        using (var scope = serviceScopeFactory.CreateScope())
        {
            var projectService = scope.ServiceProvider.GetRequiredService<IProjectService>();
            var workSessionService = scope.ServiceProvider.GetRequiredService<IWorkSessionService>();
            userProjects = await projectService.GetAllProjectsByUser(UserId);
            WorkSessionDTO previous;
            int hoursInDay = 0;
            foreach (var project in userProjects)
            {
                int hoursWorked = 0;
                int hoursOvertime = 0;

                sessionsOnProject = await workSessionService.GetAllUserSessionsByProjectBetweenDays(
                    UserId,
                    project.Id, startDate, endDate);
                if (sessionsOnProject.Count == 0) break;
                previous = sessionsOnProject.First();

                foreach (var session in sessionsOnProject)
                {
                    if (session != sessionsOnProject.First())
                    {
                        if (session.WorkDayId != previous.WorkDayId)
                        {
                            hoursInDay = 0;
                        }
                    }
                    hoursWorked += session.EndTime.Hour - session.StartTime.Hour;
                    hoursInDay += session.EndTime.Hour - session.StartTime.Hour;
                    if (hoursInDay > 8) hoursOvertime += (hoursInDay - 8);
                    previous = session;
                }
                int dayDifference = (endDate.DayNumber - startDate.DayNumber == 0) ? 1 : endDate.DayNumber - startDate.DayNumber;
                projectSessionsInfoAggregates.Add(new ProjectSessionsInfoAggregate(project.Name, hoursWorked, hoursOvertime,
                    hoursWorked / dayDifference));
            }
            if (projectSessionsInfoAggregates.Count > 0)
            {
                List<double> tempHours = new List<double>();
                List<string> tempProjectNames = new List<string>();
                List<double> tempOvertimeHours = new List<double>();
                _series.Clear();

                foreach (var projectSessionInfoAggregate in projectSessionsInfoAggregates)
                {
                    tempHours.Add(projectSessionInfoAggregate.HoursWorked);
                    tempProjectNames.Add(projectSessionInfoAggregate.ProjectName);
                    tempOvertimeHours.Add(projectSessionInfoAggregate.HoursOvertime);
                }
                hoursPerProject = tempHours.ToArray<double>();
                projectLabels = tempProjectNames.ToArray();
                overtimeHoursPerProject = tempOvertimeHours.ToArray <double>();

                _series.Add(new ChartSeries() { Name = "Normalni sati", Data = hoursPerProject });
                _series.Add(new ChartSeries() { Name = "Prekovremeni sati", Data = overtimeHoursPerProject });
                _xAxisLabels = projectLabels;
            }
        }
    }

    private void OnTableViewStateClicked()
    {
        currentViewState = ViewState.Tablica;
        tableButtonClass = "active";
        graphButtonClass = "";
        StateHasChanged();
    }

    private void OnGraphViewStateClicked()
    {
        currentViewState = ViewState.Graf;
        tableButtonClass = "";
        graphButtonClass = "active";
        StateHasChanged();
    }

    private record ProjectSessionsInfoAggregate(string projectName, int hoursWorked, int hoursOvertime, float averageHours)
    {
        public string ProjectName { get; } = projectName;
        public int HoursWorked { get; } = hoursWorked;
        public int HoursOvertime { get; } = hoursOvertime;
        public float AverageHours { get; } = averageHours;
    }
}
